*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;

    
   background-color: #191825;
}
/* nav-burger */


.burger h1{
    font-size: 50px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 250px;
}

.burger h1 span{
    font-weight: 600;
}
.burger img{
    width: 4rem;
}
.navtoggler{
    position: fixed;
    z-index: 10;
    top: 3px;
    right: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
border: none;
outline: none;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
background: transparent;
}
.line{
    visibility: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background:#f1f1f1;
    transition: transform 0.3s ease-out,
    opacity 0.1s ease-out;
}

.l1{
    transform: translateY(-10px);
}
.l3{
    transform: translateY(10px);
}

.navtoggler.active .l1{
    transform : translateY(0px) rotate(135deg);
   
}
.navtoggler.active .l2{
   opacity: 0;
}
.navtoggler.active .l3{
    transform : translateY(0px) rotate(-135deg);
}

.burger{
    
    position: fixed;
    z-index: 10;
    width: 50vw;
    right: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191825;

    border-left: 1px solid #cfcfcf;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73,0.11,0.67,0.84);

}

.burger.active {
    transform : translate(0);
}
.burger a{
    
    color: #f1f1f1;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
/*navbar*/

nav{
    visibility: visible;
    top: 0;
    position: fixed;
    width: 100%;
    height: auto;
    background: #b1b0ba;
    padding: 0.5% ;
    z-index: 20;
    font-size: 25px;
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in;
}
.box-nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}
.logo-br{
    width: 4.5%;
}
nav a{
text-decoration: none;
color: rgb(255, 255, 255);
padding: 0% 1% 0% 15%;
}
ul{
    list-style: none;
   display: flex;
   gap: 5%;

}
li{
    display: inline-block;
 
   font-weight: 100;
}

/* butoon */

a.my-button{
    background: linear-gradient(to right,#191825 ,#8E4392);
    background-color: #196BCA;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
   }
   a.my-button:hover{
    background: linear-gradient(to right,#333151 ,#ad51b1);
    background-color: #5482d0;
   }
   a.my-button:active{
    transform: scale(0.95);
   }





/*main*/
main{
    
   margin-top: 5%;
    width: 100%;
 height: 120rem;
    z-index: 1;
    overflow: hidden;
}
/*box text et photo*/




.first-box{
  overflow: hidden;
    display: flex;
    height: 30%;
}
.text-container{
    text-align: left;
   
 padding: 0% 15% 0% 0%;
  
background-color: rgb(89, 85, 85);
}
.first-box img{
    position: relative;
   width: 100%;
 
       
    }
.first-box H1{
    position: relative;
    font-size: 700%;
    color: rgb(255, 255, 255);
   margin: 0% 0% 30% 2%;
}

.text-container h3{
    margin: 0% 0% 0% 2%;
    font-size: 1.7rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
}

.text-container hr{
    border: none;
    border-top: 1.5px solid;
    position: absolute;
    width: 25rem;
color: rgb(255, 255, 255);
}

/*slider*/
/*second box*/
.second-box{
height: 55rem;
    width: 100%;
   
    
}

.second-box h3{
    position: relative;
   padding: 3rem;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    
    
}



.slider img{
    max-width: 100%;
    display: none;
}

img.active{
    display: block;
    animation: fade 0.8s;
    
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}/*btn slider*/
.cont-btn{
    display: flex;
   
    justify-content: space-between;

    z-index: 5;
    margin: 0% 0% 0% 0%;
    padding: 17% 3% 0% 3%;
}

.btn-nav{
    font-size: 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/*overlay*/

.card img{
    vertical-align: middle;
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    
 
}
.card{
    margin:0;
    position: absolute;
    left:11%;
border: 1px solide lightgray;
padding: 0px;
overflow: hidden;
text-align: center;
}



.card .overlay{
    
    /*glasmorphing*/
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    /*css base*/
    position: absolute;
    top: 0;
    left: 0;
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    padding: 15px;
    transform: translateY(100%);
    transition: 0.3s;
    

}
.overlay h4{
    font-size: 3rem;
margin-bottom: 7rem;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 25px black;   
}

test


.overlay p{
    font-weight: 1000;
    font-size: 1.5rem;
    margin: 0% 0% 3% 0%;


}

.card:hover .overlay{
    transform: translateY(0) ;
    
}
/*third box*/
.third-box h3{
padding: 1rem;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);

    
}
.third-box{
    width: 100%;
    height: 10rem;
    background: gray;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items:center;
    transform: translateX(-83%);
    transition: 0.6s ease-out;
    border-radius: 0px 15px 15px 0px;
}
.element-formation{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
    
}
.box-elem{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
}
.element-formation img{
    width: 4rem;
    padding:0rem 0.5rem 0rem 0rem;
    
}
.third-box:hover{
     /*glasmorphing*/
     background: rgba( 255, 255, 255, 0.35 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 5.5px );
     -webkit-backdrop-filter: blur( 5.5px );
     /* code de base */
    transform: translateX(0);
    border-radius: 0px ;
}


/*fourth-box*/
.fourth-box h3{
    position: relative;
    padding: 1rem;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);

}
.fourth-box{
    width: 100%;
    height: 10rem;
    background: gray;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items:center;
    transform: translateX(80%);
    transition: 0.6s ease-out;
    border-radius: 15px 0px 0px 15px;
    
}
.fourth-box:hover{
     /*glasmorphing*/
     background: rgba( 255, 255, 255, 0.35 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 5.5px );
     -webkit-backdrop-filter: blur( 5.5px );
     /* code de base */
    transform: translateX(0);
    border-radius: 0px ;
}
.element-competence{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    gap: 10rem;
    color: rgb(255, 255, 255);
    padding-right: 8rem;

}
.element-competence img{
width: 4rem;
}
/* footer */
footer{
width: 100%;
height: auto;
background: rgb(225, 218, 218);
justify-content: center;
align-items:center;
text-align: center;
}

.reseaux img{

    margin: 4rem 4rem 1rem 4rem;
    transition: 1s ease-out;
   
}
.reseaux img:hover{
   
    margin: 4rem 4rem 1rem 4rem;
    transform: scale(1.5) rotateY(-360deg);

   
}
.cv{
    color:black;
    
}


/*responsive*/
@media screen and (max-width:500px) {
    .line{
        visibility: visible;

    }
    nav{
        visibility: hidden;
    }

    /*main*/
    main{
    
        margin-top: 0;
         width: 100%;
      height: auto;
         z-index: 1;
         overflow: hidden;
     }
     /*box text et photo*/
     
     
     
     
     .first-box{
       overflow: hidden;
         display: grid;
         height: auto;
         
     }

     .text-container{
        text-align: center;
     padding: 5% 0% ;
    
    background-color: rgb(89, 85, 85);
    }
    .first-box img{
        position: relative;
       width: 100%;
       
        }
        .first-box H1{
            position: relative;
            font-size: 300%;
            color: rgb(255, 255, 255);
           margin: 0%;
        }
        
        .text-container h3{
            margin: 0% 0% 0% 2%;
            font-size: 1.7rem;
            font-weight: 200;
            color: rgb(255, 255, 255);
        }
        
        .text-container hr{
            border: none;
            border-top: 1.5px solid;
            position: absolute;
            width: 100%;
        color: rgb(255, 255, 255);
        }

/*second-box*/

.second-box{
    height: 20rem;
        width: 100%;
       
        
    }
.second-box h3{
    position: relative;
   padding: 1rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.card{
    left: 13%;
}



.card img{
    vertical-align: middle;
    width: 290px;
    height: 150px;
    border-radius: 15px;
   
 
}

.card .overlay{
    
    /*glasmorphing*/
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    /*css base*/
    position: absolute;
    top: 0;
    left: 0;
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 290px;
    height: 150px;
    border-radius: 15px;
    padding: 10px;
    transform: translateY(100%);
    transition: 0.3s;
    

}
.overlay h4{
    font-size: 1.1rem;
margin-bottom: 0.3rem;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 25px black;   
}

a.my-button{
    padding: 4px 6px;
    font-size: 10px;
}

.overlay p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.5rem;
    margin: 0% 0% 1% 0%;


}

.card:hover .overlay{
    transform: translateY(0) ;
    
}


/*formation et competences*/
.third-box h3{
    padding: 1rem;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
    
        
    }
    .third-box{
        width: 100%;
        height: 5rem;
    
       
        transform: translateX(-65%);
       
    }
    .element-formation{
       
        font-size: 0.5rem;
        gap: 2rem;
        
    }
  
    .element-formation img{
        width: 2rem;
        padding:0rem 0.5rem 0rem 0rem;
        
    }
  
    .btn-nav{
        font-size: 30px;
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
    
    /*fourth-box*/
    .fourth-box h3{
        padding: 1rem;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
    
    }
    .fourth-box{
        width: 100%;
        height: 5rem;
      
        transform: translateX(57%);
    
    }
  
        
    .element-competence{
       
        font-size: 0.4rem;
        gap: 1.2rem;
        padding-right: 3rem;
    
    }
    
    .element-competence img{
    width: 1.5rem;
    }
/*footer*/

footer{
    width: 100%;
    height: auto;
    background: rgb(225, 218, 218);
   font-size: 1rem;
    }
    
    .reseaux img{
    
        margin: 1rem 2rem 0.5rem 2rem;
        transition: 1s ease-out;
       width: 10%;
    }
   


}
@media screen and (min-width:1920px){
    .second-box{
        height: 65rem;
    }
    .card{
        margin: 7%;
    }
    .first-box img{
        position: relative;
       width: 100%;
           
        }
        .text-container{
            padding: 0% 30% 0% 0%;
        }
}
